* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f1f3f5;
    color: #222;
    line-height: 1.6;
}

main {
    width: 90%;
    max-width: 1000px;
    margin: 30px auto;
}

section {
    background-color: white;
    padding: 30px;
    margin-bottom: 25px;
    border-radius: 10px;
}